*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}
body{
	background-image:  linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.3)),url('images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100%; 
	position: relative;
}
.sec-1{
	background-color: #fff;
	background-size: cover;
	height: 100%;
	
}
.sec-1 .bg-img{
	margin-top: 3%;
	margin-left:3%;
	cursor: pointer;
}
/* this style is navigation */
nav{
	display:flex;
	margin-top: -3%;
	margin-left: 30%;
	
}

nav li{
	display: inline;
	list-style: none;
	margin-left: 20px;
}
nav li a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	color: #867979;
}
nav li a:hover{
	color: #c2bcbc;
}
nav .search{
	margin-left:20px;
	padding: 2px 10px;
	border: 1px solid #c2bcbc;
	border-radius: 15px;
}
/* here article-1 */
.artic-1{
	display: flex;
	margin-top: 7%;
}
.artic-1 .img-straw{
	width: 45%;
	border-radius: 5px;
	margin-left: 3%;
	margin-right:2%;
	background-image:  linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url('images/food1.jpg'); 
	background-size: cover;
	height: 40vh;
	width: 45%;	
}
.artic-1 .img-chiness{
	width: 45%;
	border-radius: 5px;
	margin-left: 2%;
	margin-right: 3%;
	background-image:  linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url('images/food2.jpg'); 
	background-size: cover;
	height: 40vh;
	width: 45%;
}
.artic-1  .content{
	margin-top: 40px;
	margin-left: 30px;
	color: #fff;
}
.content h1{
	font-size: 25px;
}
.btn{
	text-decoration: none;
	background: #40ba37;
	color: #fff;
	padding: 15px 30px;
}
.menu-img img{
	width: 100%;
	height:350px;
	border-bottom: 2px solid #40ba37;
}
.artic-2 .flex-img{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 3%;
	margin-bottom: 50px;
	
}
.flex-img .menu-img{
	width: 30%;
	margin-left: 2%;
	margin-top: 40px;
}
.menu-img p{
	text-align: center;
	font-size: 15px;
	margin-top: 10px;
}
.menu-img .icon{
	margin-left: 40%;
}
.menu-img i{
	font-size: 12px;
	color: #fbb710;
	text-align: center;
}
.artic-2 h1{
	text-align: center;
	margin-top: 5%;
	font-size: 40px;
	color:#262626;
	
}
.sec-2{
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	width: 100%;
	height: 90vh;
	
}
.flex-cont h1{
	text-align: center;
	font-size: 50px;
	color: #fff;
}
.flex-cont p{
	font-size: 18px;
	color: #fff;
}
.flex-cont .btn{
	display: inline-block;
	margin-left:40%;

}
.sec-3{
	background: #fff;
	height: 100%;
}
.sec-3 .flex-food{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	margin-left: 5%;
}

.flex-food .flex-card{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}
.flex-food .flex-card{
	width: 30%;
}
.flex-card .food-content{
	width: 100%;
	margin-left: 10px;
}
.food-content h3{
	color: #3f3e3e;
	font-size: 25px;
	transition: 0.3s;
}
.food-content h3:hover{
	color: #40ba37;
}
.food-content h5{
	color: #40ba37;
}
.food-content i{
	color: #fbb710;
	font-size: 12px;
}
.food-content p{
	color: gray;
	font-size: 12px;
}
.sec-3 .artic-3{
	display: flex;
	justify-content: center;
	margin-top: 5%;
	margin-left: 5%;
	margin-bottom: 30px;
}

.flex-box{
	width: 30%;
	margin-left: 40px;
}
.content1{
	border: 10px solid #40ba37;
}
.content1 p{
	font-size: 30px;
	text-align: center;
	padding: 40px 24px;
	color: #3f3e3e;
}
.content1 h5{
	text-align: center;
	font-style: italic;
	color: #3f3e3e;
}
.content1 span{
	font-size: 50px;
	color: #40ba37;
}
.content2 h1{
	font-size: 25px;
	color: gray;
	margin-bottom: 20px;
}
.subscribe-img{
	background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url('images/food20.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width:95%;
	height: 390px;
}
.subscribe-form{
	padding:40px 30px ;
}	
.subscribe-form input[type="text"]{
	width: 350px;
	height: 35px;
	padding: 10px 10px;
	background: #fff;
	font-style: italic;
	color: gray;
	border-left: 3px solid #15f105;
	outline: none;
}
.subscribe-form button{
	width: 375px;
	height: 50px;
	background: rgb(64, 186, 55);
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	border: 3px solid #40ba37;
	outline: none;
}
.subscribe-form p{
	color: #fff;
	text-align: justify;
	margin-top: 20px;
	font-style: italic;
}
footer h1{
	font-size: 30px;
	margin-top: 30px;
	margin-left: 50px;
	margin-bottom: 20px;
}
footer .hover-effect{
	display:flex;
}
.hover-effect img{
	width: 100%;
	height: 100%;
	z-index: 0;
	transition: 500ms;
}
.img-container{
	width: 225px;
	height: 225px;
	overflow: hidden;
	position: relative;
}
.overlay{
	width: 225px;
	height: 225px;
	position: absolute;
	background:rgba(64,186,55,0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	z-index: 1;
	transition: 500ms;
}
.overlay p{
	color: #fff;
	font-size: 24px;
}
.img-container:hover .overlay{
	opacity: 1;
}
.img-container:hover img{
	transform: scale(1.3) rotate(2.5deg);
}


